@media (max-width: 375px) {
    
    .header .header-container{
        display: flex;
        flex-direction: column;

    }

    .header .header-container nav ul{
        display: flex;
        text-align: start;
        flex-direction: column;
        align-items: center;
    }


    
    .home .home-portfolio .nome-portfolio{
        
        font-size: 80px;
        font-weight: 900;
        
    }

    .home .home-portfolio .info-home{
        font-size: 5px;
        font-weight: 100;
    }


    .sobre{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .sobre img{
        max-width: 300px;
    
    }


    .conhecimentos{
        display: flex;
        justify-content: center;
    
    }

    


    .conhecimentos .grupo-tecnologias{
        align-items: center;
        flex-wrap: wrap;
    }


}

@media (max-width: 576px) {

    .header .header-container{
        display: flex;
        flex-direction: column;

    }

    .header .header-container nav ul{
        display: flex;
        text-align: start;
        flex-direction: column;
        align-items: center;
    }


    .sobre{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sobre img{
        justify-content: center;
        max-width: 300px;
    }


    .conhecimentos{
        display: flex;
        justify-content: center;
    
    }

    


    .conhecimentos .grupo-tecnologias{
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 992px) {

    .header .header-container{
        display: flex;
        flex-direction: column;

    }

    .header .header-container nav ul{
        display: flex;
        text-align: start;
        align-items: space-between;
    }


    .sobre{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sobre img{
        justify-content: center;
        max-width: 300px;
    }


    .conhecimentos{
        display: flex;
        justify-content: center;
    
    }

    


    .conhecimentos .grupo-tecnologias{
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 1200px) {
    .header .header-container{
        display: flex;
        

    }

    .header .header-container nav ul{
        display: flex;
        text-align: start;
        align-items: space-between;
    }


    .sobre{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sobre img{
        justify-content: center;
        max-width: 300px;
    }


    .conhecimentos{
        display: flex;
        justify-content: center;
    
    }

    


    .conhecimentos .grupo-tecnologias{
        align-items: center;
        width: 500px;
        height: 300px;
    }
}