body {

    font-family: 'Viga', sans-serif;
    background-image: url(imagens/FUNDO\ SOBRE.png);
    color: white;

}




.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;

}

.logo {

    height: 180px;
    display: flex;
    align-items: start;

}

.sobre {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: auto;

}


.sobre .info-sobre {
    width: 400px;
    line-height: 0;
    font-size: 30px;
    font-weight: 400;
    flex-wrap: wrap;

}

.sobre .info-sobre  p{
    gap: 20px;
    flex-wrap: wrap;
}