body {

    font-family: 'Viga', sans-serif;
    background-image: url(imagens/FUNDO\ HOME.png);
    color: white;

}




.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;

}

.logo {

    height: 180px;
    display: flex;
    align-items: start;

}

.header .menu {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.header .menu a {
    padding: 3px;
    font-size: 20px;
    color: white;
}

.header .menu li a:hover {

    background-color: blueviolet;
    border-radius: 10px;

}

.portifolio {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: auto;

}


.portifolio .info-portifolio {
    line-height: 0;
    font-size: 30px;
    font-weight: 400;

}

.portifolio .titulo-portifolio {
    line-height: 0;
    font-size: 130px;
    font-weight: 800;
}

.portifolio .titulo-portifolio .descricao {
    line-height: 10px;
    font-size: 65px;
    font-weight: 400;

}