body {

    font-family: 'Viga', sans-serif;
    color: white;
  
}

.header {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3px;

}

.logo {
    position: fixed;
    height: 120px;
    display: flex;
    align-items: flex-start;

}

.pagina-1-portifolio {
    background: url(imagens/FUNDO\ HOME.png) repeat-y;
    width: 1920px;
    height: 1080px;
    display: inline-block;
}

.pagina-1-portifolio .portifolio {

    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 80px;

}

.pagina-1-portifolio .portifolio .info-portifolio {
    line-height: 0;
    font-size: 30px;
    font-weight: 400;

}

.pagina-1-portifolio .portifolio .titulo-portifolio {
    line-height: 0;
    font-size: 130px;
    font-weight: 800;
}

.pagina-1-portifolio .portifolio .titulo-portifolio .descricao {
    line-height: 10px;
    font-size: 65px;
    font-weight: 400;

}

.pagina-2-sobre {
    background: url(imagens/FUNDO\ SOBRE.png) repeat-y;
    width: 1920px;
    height: 1080px;
   
}

.pagina-2-sobre .titulo-sobre {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 130px;
    font-weight: 800;
}


.pagina-2-sobre .p-sobre {
    font-size: 25px;
    font-weight: 400;
    margin-left: 30px;
    width: 1080px;

}

.pagina-2-sobre .foto-perfil {
    margin-left: 1300px;
    margin-bottom: 800px;
    margin-top: -500px;
    width: 500px;
    height: 600px;
    border-radius: 30px;

}

.pagina-3-projetos {
    background: url(imagens/FUNDO\ PROJETOS.jpg) repeat-y;
    width: 1920px;
    height: 1080px;
    display: inline-block;
}

.pagina-3-projetos .titulo-projetos {
    text-align: center;
    font-size: 130px;
    font-weight: 800;
    margin-top: -30px;
}

.pagina-3-projetos .conteudo-projetos {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: -50px;
    max-width: auto;
    max-height: auto;
}

.pagina-3-projetos .projetos-modelo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    align-items: center;
    margin: ;

}
.pagina-3-projetos .projetos-modelo .desc-projeto{
    margin-left: 15px;
}

.pagina-3-projetos .projetos-modelo .icon {
   margin: 0;
}

