html {
    font-size: 62.5%
}

body {
    display: grid;
    grid-template-areas:
        "header header header header"
        "home home home home"
        "sobre sobre sobre sobre"
        "projetos projetos projetos projetos"
        "contato contato contato contato"
        "footer footer footer footer ";
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background-image: url(/src/images/background.jpg);

}

.header {
    grid-area: header;
    background: transparent;

}

.header .header-container {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;

}

.header .logo {
    display: block;
    align-items: center;
}

.header nav ul {
    color: var(--cor-fonte);
    display: flex;
    flex-direction: row;
    text-align: end;
    font-size: 20px;
    font-weight: 400;

}

.header nav ul li:hover {
    background-color: var(--cor-destaque);
    border-radius: 6px;
    transition: 0.5s;
}

.header nav ul li {
    color;
    margin-left: 15px;
}

.header nav ul li a {
    color: var(--cor-fonte);
}

.home {

    grid-area: home;

}

.home .home-portfolio {
    color: var(--cor-fonte);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}


.home .home-portfolio h3 {
    font-size: 30px;
    font-weight: 400;

}


.home .home-portfolio h1 {
    font-size: 130px;
    font-weight: 900;
}

.home .info-home {
    margin-bottom: 300px;

}

.sobre {
    grid-area: sobre;
    color: var(--cor-fonte);
    display: flex;
    flex-direction: row;
    font-family: 'Roboto' sans-serif;

}

.sobre img {
    display: flex;
    margin: 30px;
    border-radius: 100px;

}

.sobre .quem-sou-eu {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}


.sobre .quem-sou-eu h2 {
    font-size: 50px;
    font-weight: 400;
}

.sobre .quem-sou-eu p {
    margin: 30px;
    text-align: start;
    font-size: 20px;
}


.projetos {
    grid-area: projetos;
    color: var(--cor-fonte);

}

.projetos img {
    border-radius: 10px;

}

.projetos .grupo-projetos {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.projetos h1 {
    font-size: 50px;
    font-weight: 400px;

}


.projetos .projetos-1,
.projetos-2,
.projetos-3,
.projetos-4,
.projetos-5,
.projetos-6,
.projetos-7,
.projetos-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 30px;
    border: 2px solid var(--cor-destaque);
    border-radius: 10px;

}


.projetos .projetos-1:hover,
.projetos-2:hover,
.projetos-3:hover,
.projetos-4:hover,
.projetos-5:hover,
.projetos-6:hover,
.projetos-7:hover,
.projetos-8:hover {
    background-color: var(--cor-destaque-2);

}



.contato {
    grid-area: contato;
}

.footer {
    grid-area: footer;

}